
head{
      border-top: medium none;
			
}
body {
    background-color: lightblue;
	  height: 100%;
    
}

h1{
    color: white;
    text-align: center;
		
}
p {
    font-family: verdana;
    font-size: 20px;
	  flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 10px;
}
